html,
body {
  height: 100dvh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  overscroll-behavior: none;

  font-family: "Yusei Magic";
  color: #212121;
  background: #f5f5f5;
  z-index: 0;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 5px 5px 10px 0.5px #d1d1d1;
}

@media (max-width: 750px) {
  .card {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
    color: #757575;
  }
  p {
    font-size: 0.8rem;
  }
  .links {
    display: flex;
    gap: 1rem;
    a {
      height: 2rem;
      width: 2rem;
      transition: 0.2s ease-in-out;
    }
    a:hover {
      transform: scale(1.2);
    }
  }
  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1rem;
      color: #757575;
    }
  }
}

footer {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;

  a {
    display: inline-block;
    transition: 0.2s ease-in-out;
    transform-origin: center center;
  }

  a:hover {
    transform: scale(1.2);
  }
}
